@using ProFatura.Entity.Concrete
@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kategoriler</h4>
            <a href="/Category/AddCategory" class="btn btn-primary">Yeni Kategori Ekle</a>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="order-listing" class="table">
                            <thead>
                                <tr>
                                    <th>Kategori Adı</th>
                                    <th>Durum</th>
                                    <th>Hareketler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.CategoryName</td>
                                        <td>
                                            <a href="/Category/Delete/@item.CategoryId" class="btn btn-danger">Sil</a>
                                        </td>
                                        <td>
                                            <a href="/Category/Update/@item.CategoryId" class="btn btn-success">Güncelle</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
